.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  a:visited {
	background-color: lightblue;
	color: black;
	padding: 40px;
	text-align: center;
  } 

  a:link {
	background-color: tomato;
	color: white;
	padding: 10px;
  } 

  .text-center {
    text-align: center;
  }

  body {
		font-family:  Helvetica, Arial, sans-serif;
		margin: 32px;
	}

	#power-gauge g.arc {
		fill: steelblue;
	}

	#power-gauge g.pointer {
		fill: #e85116;
		stroke: #b64011;
	}
	
	#power-gauge g.label text {
		text-anchor: middle;
		font-size: 14px;
		font-weight: bold;
		fill: #666;
	}

  .nothing {
    text-align: right;
  }

  #direction_2 {
	margin: 0;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  }